# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.node_modules 
/.pnp
.pnp.js

# local env files
/config/config.env
.env*.local

# local folder
local

# vercel
.vercel
